.form > * {
  margin: 0 auto;
}

.form {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 300px;
}

.imageArea {
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
}

.imageArea > label {
  /* position: absolute; */
  top: 0;
  right: 0;
  width: 50px;
  margin-right: 20px;
  height: 50px;
  cursor: pointer;
  background: url('../img/photo.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

.playlistTitleArea > button {
  background-color: #242630;
}

.playlistTitle,
.addTitle,
.addArtist {
  border: none;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  padding: 0px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-out;
}

.playlistTitle {
  font-size: 25px;
  width: 800px;
  height: 80px;
  display: flex;
  border-radius: 20px;
}

.playlistTitle:focus,
.addTitle:focus,
.addArtist:focus {
  outline: none;
  background-color: white;
  color: #242630;
}

.playlistTitle:focus::placeholder,
.addTitle:focus::placeholder,
.addArtist:focus::placeholder {
  color: #242630;
}

.playlistTitle::placeholder,
.addTitle::placeholder,
.addArtist::placeholder {
  color: white;
}

.inputArea {
  display: flex;
  justify-content: space-between;
}

.addTitle,
.addArtist {
  width: 350px;
  height: 50px;
  border-radius: 15px;
}

.saveButtonArea {
  display: flex;
  justify-content: flex-end;
}

.saveButton,
.addButton,
.playlistTitleArea button {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.addButton {
  width: 50px;
  font-size: 30px;
}

.saveButton,
.playlistTitleArea button {
  width: 80px;
  font-size: 18px;
  margin-bottom: 20px;
}

.playlists {
  padding: 0px;
  width: 800px;
}

.playlist {
  display: flex;
  position: relative;
  padding: 0px 30px;
  box-sizing: border-box;
  list-style: none;
  margin-bottom: 15px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border-radius: 15px;
  align-items: center;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.title,
.artist {
  font-size: 18px;
  max-width: 350px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
.deleteButton {
  position: absolute;
  border: none;
  background: url('../img/dustbin.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  background-color: transparent;
  height: 20px;
  width: 20px;
  cursor: pointer;
  right: 30px;
}
